body {
  background-color: lightblue;
}

.Head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width:;
}

.Bubble1 {
  Background-color:#0cc0df;
  color:black;
  font-size:15px;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;


}



.Top {
  background-color:#00747a;
  Padding top:10px;
  Padding right:30px;
  Padding left:50px;
  Padding bottom:10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;

}

.Bubble2 {
  Background-color:#0cc0df;
  color:black;
  font-size:15px;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;

}

.Bubble3 {
  Background-color:#0cc0df;
  color:black;
  font-size:15px;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;

.Bubble4 {
  Background-color:#0cc0df;
  color:black;
  font-size:15px;
  padding:10px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}


h1 {
  color: navy;
  margin-left: 20px;
  font-weight:900;
}

p3 {
  color: navy;
  margin-left: 20px;
  font-weight:900;
}

p.thicker {
  font-weight:900;
}