body { /*background color*/
  background-color: #5ce1e6;
  margin:0px;
}

.Top { /*the line at the top*/
  background-color:#00747a;
  Padding-top:10px;
  Padding-right:10000px;
  Padding-left:10px;
  Padding-bottom:25px;
  display: flex;
  flex-direction:row-reverse;
  align-items: flex-start;
  height: 30px;
  position:absolute;
  left:0px;
  bottom:200;
  z-index: 1;
}

.Bottom { /*the line at the bottom*/
  background-color:#00747a;
  Padding-top:10px;
  Padding-right:10000px;
  Padding-left:10px;
  Padding-bottom:25px;
  display: flex;
  flex-direction:row-reverse;
  align-items: flex-start;
  height: 30px;
  position:absolute;
  left:0px;
  bottom:0px;
  z-index: 1;
}


.button { /*groups the nav buttons*/
  margin-left:50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  gap:20px;
}



.Bubble2 { /*how to nav buttons look*/
  Background-color:#0cc0df;
  color:black;
  font-size:15px;
  padding:15px;
  border:none;
  border-radius:15px;
  cursor:pointer;
  z-index:2;
  font-size:20px;
}



h1 {/* maine heading*/
  font-size:40px;
  position:absolute;
  left:700px;
  background-color:#00747a;
  color: white;
  margin-left: 0px;
  font-weight:900;
  padding-bottom:10px;
  padding-top:10px;
  padding-right:300px;
  padding-left:300px;
  border-radius:60px;
}



 /*all the points*/
.Bubble1 {
  position:absolute;
  left:400px;
  bottom:600px;
  Background-color:#00747a;
  color:white;
  padding-left:50px;
  padding-right:375px;
  border:none;
  border-radius:15px;
  font-size:40px;
  gap:500px;
}

.bubble2 {
  position:absolute;
  left:400px;
  bottom:450px;
  Background-color:#00747a;
  color:white;
  padding-left:50px;
  padding-right:85px;
  border:none;
  border-radius:15px;
  font-size:40px;
  gap:500px;
}

.Bubble3 {
  position:absolute;
  left:400px;
  bottom:310px;
  Background-color:#00747a;
  color:white;
  padding-left:50px;
  padding-right:280px;
  border:none;
  border-radius:15px;
  font-size:40px;
  gap:500px;
}

.Bubble {
  position:absolute;
  left:400px;
  bottom:150px;
  Background-color:#00747a;
  color:white;
  padding-left:50px;
  padding-right:50px;
  border:none;
  border-radius:15px;
  font-size:40px;
  gap:500px;
}
/*images(placement and style)*/
.pie {
position:absolute;
left:1100px;
bottom:100px;
width:600px;
height:600px;
border:5px solid #00747a;
}

.rat {
position:absolute;
left:200px;
bottom:550px;
width:150px;
height:150px;
border:5px solid #00747a;
}

.room{
position:absolute;
left:200px;
bottom:400px;
width:150px;
height:150px;
border:5px solid #00747a;
}

.Question{
position:absolute;
left:200px;
bottom:250px;
width:150px;
height:150px;
border:5px solid #00747a;
}

.nopest{
position:absolute;
left:200px;
bottom:100px;
width:150px;
height:150px;
border:5px solid #00747a;
}

/*footer*/
.footer{
  position:absolute;
  left:0px;
  bottom:40px;
  color:white;
  z-index:2;
  font-size:20px;
}

.footer1{
  position:absolute;
  left:200px;
  bottom:40px;
  color:white;
  z-index:2;
  font-size:20px;
}

.footer2{
  position:absolute;
  left:800px;
  bottom:40px;
  color:white;
  z-index:2;
  font-size:20px;
}


